@model G_DAL.ViewModel.UserModel;

<div class="registration">
    <form asp-action="Create" asp-controller="User" class="">
        <div asp-validation-summary="All"></div>
        <div>
            <span asp-validation-for="UserName"></span>
            <input type="text" asp-for="UserName" placeholder="Логин" class="txt-input">
        </div>
        <div>
            <span asp-validation-for="Email"></span>
            <input type="email" asp-for="Email" placeholder="Почта" class="txt-input">
        </div>
        <div>
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password" placeholder="Пароль" class="txt-input">
        </div>
        <div>
            <input type="submit" value="Регистрация" class="registration-button">
        </div>
        <a asp-action="SignIn" asp-controller="User">Вход</a>
    </form>
</div>