@model G_DAL.ViewModel.UserModel;

<div class="registration">
    <form id="registration-form">
        <div asp-validation-summary="All"></div>
        <div>
            <span asp-validation-for="UserName"></span>
            <input type="text" asp-for="UserName" placeholder="Логин" class="txt-input">
        </div>
        <div>
            <span asp-validation-for="Email"></span>
            <input type="password" asp-for="Password" placeholder="Пароль" class="txt-input">
        </div>
        <div>
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password" placeholder="Пароль" class="txt-input">
        </div>
        <div>
            <input type="button" value="Войти" class="registration-button">
        </div>
        <a asp-action="Create" asp-controller="User">Регистрация</a>
    </form>
</div>