@model G_DAL.ViewModel.UserModel;

<div class="login-box">
    <p>Вход</p>
    <form asp-action="SignIn" asp-controller="User">
        <div asp-validation-summary="All"></div>
        <div class="user-box">
            <span asp-validation-for="Email"></span>
            <input type="email" asp-for="Email" placeholder="Почта">
        </div>
        <div class="user-box">
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password" placeholder="Пароль">
        </div>
        <div class="button-box">
            <input type="submit" value="Войти" class="button">
        </div> 
    </form>
    <a asp-action="Create" asp-controller="User" class="link-login">Регистрация</a>
</div>