@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body {
    background-color: #808080;
}

::placeholder{
    color: white;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 250px;
    }

        .main-menu li > a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: #999;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1,1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    nav ul, nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }

    .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        background-color: #000000;
    }

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.main-block {
    display: flex;
    flex-flow: row wrap;
}

.header-block {
    width: 60px;
    flex-grow: 0;
    flex-shrink: 0;
}

.render-block {
    min-width: 100px;
    width: calc(100% - 60px);
}

.task-row {
}

.active-row {
    background-color: #FFFACD;
}

.user {
    background-image: url(~/icon/account.ico);
}

.index-block {
    position: absolute;
    top: 10%;
    left: 45%;
    margin: -125px 0 0 -125px;
    align-content: center;
}

    .index-block h1 {
        color: gold;
        font-family: Bahnschrift;
        font-size: 120px;
        align-content: center;
        text-shadow: 1px 1px 5px;
    }

    .index-block span {
        align-content: center;
        font-family: 'Baskerville Old Face';
        font-size: 30px;
    }

.desc {
    float: left;
    border: 1px solid #808080;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #505050;
    margin-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: darkgrey;
}

    .desc p {
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        color: black;
        text-align: center;
    }

.task-panel {
    width: 100%;
    background: #212121;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

    .task-panel a {
        padding: 10px;
        font-family: 'Baskerville Old Face';
        font-size: 30px;
        color: darkgrey;
        text-decoration: none;
        align-items: center;
    }

        .task-panel a:hover {
            color: gold;
        }

.table {
    border: 5px solid darkgrey;
    border-top: 5px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    border-collapse: collapse;
    margin: 10px;
    font-size: 15px;
    background: darkgrey !important;
}

    .table th {
        font-weight: bold;
        padding: 7px;
        background: #ffd300;
        border: none;
        text-align: left;
        font-size: 20px;
        border-top: 3px solid darkgrey;
        border-bottom: 3px solid #ffd300;
    }

    .table td {
        padding: 7px;
        border: none;
        border-top: 3px solid darkgrey;
        border-bottom: 3px solid darkgrey;
        font-size: 20px;
    }

    .table caption {
        background: darkgrey;
        font-size: 25px;
    }

.table-block-task {
    width: 650px;
    position: center;
    border: 1px solid #808080;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #505050;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #ff6a00;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }


    .login-box a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: btn-anim1 1s linear infinite;
    }

.button {
    text-align: center;
    font-size: 30px;
    background-color: #808080;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-box .button:hover {
    background-color: gold;
}

.login-box p {
    text-align: center;
    font-family: Bahnschrift;
    font-size: 20px;
    color: goldenrod;
}

.button-box {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: 1px solid gold;
    outline: none;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.not-any {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.table-block-team {
    width: 375px;
    position: center;
    border: 1px solid #808080;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #505050;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
}

.link-login {
    margin-top: 25px;
    left: 50%;
    right: 50%;
    color: gold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
