
<div class="login-box">
    <form asp-action="AddUser" asp-controller="Team" method="post">
        <div class="user-box">
            <input type="email" name="mail" placeholder="Почта пользователя"/>
        </div>
        <div class="button-box">
            <input type="submit" value="Добавить" class="button" />
        </div>
    </form>
</div>