<div class="index-block">
    <h1>Together</h1>
</div>
<div class="desc">
    <p>Данный сервис предназначен для успешной реализации коллективной работы, он позволяет более продуктивно организовать выполнение коллективных процессов как в рамках организации, так и в творческой деятельности</p>
</div>
