@model G_DAL.Entity.Project

<div class="login-box">
    <p>Проект</p>
    <form asp-action="Create" asp-controller="Project" method="post">
        <div asp-validation-summary="All"></div>
        <div class="user-box">
            <span asp-validation-for="Name"></span>
            <input asp-for="Name" placeholder="Название"/>
        </div>
        <div class="user-box">
            <span asp-validation-for="Description"></span>
            <input asp-for="Description" placeholder="Описание">
        </div>
        <div class="button-box">
            <input type="submit" value="Создать" class="button" />
        </div>
    </form>
</div>