@model G_DAL.ViewModel.ProjectViewModel

<div class="task-panel">
    <a asp-action="Create" asp-controller="Project">Создать</a>
</div>

@{
    if (Model != null)
    {
        @await Html.PartialAsync("GetMyProject", Model)
    }
    else
    {
        <p class="not-any">У вашей команды нет активных проектов</p>
    }
}
