<html>
<head>
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div class="main-block">
        <div class="header-block">
            @await Html.PartialAsync("HeaderPartial")
        </div>
        <div class="render-block">
            @RenderBody()
        </div>
    </div>
    @await Html.PartialAsync("ScriptPartial")
</body>
</html>
