<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Главная страница
                </span>
            </a>

        </li>
        <li>
            <a asp-action="TaskPage" asp-controller="Task">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Мои задачи
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a asp-action="TeamPage" asp-controller="Team">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Команда
                </span>
            </a>

        </li>
        <li>
            <a asp-action="ProjectPage" asp-controller="Project">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Проект
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a asp-action="LogOut" asp-controller="User">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Выход
                </span>
            </a>
        </li>
    </ul>
</nav>