
<div class="headerContainer">
    <div>
    <a asp-controller="Home" asp-action="Index">Главная</a>
    <a asp-controller="" asp-action="">Мои задачи</a>
    <a asp-controller="" asp-action="">Текущий проект</a>
    <a asp-controller="" asp-action="">Команда</a>
    </div>
    <div>
        <a asp-controller="" asp-action="">Юзер</a>
    </div>
</div>