@model IEnumerable<G_DAL.Entity.Task>


<div class="task-panel">
    <a asp-action="Create" asp-controller="Task">Создать</a>
    <a class="complete-button">Выполнить</a>
</div>
@{
    if (Model.Any())
    {
        @await Html.PartialAsync("GetMyTasks", Model)
    }
    else
    {
        <p class="not-any">Вас пока не назначили исполнителем задач</p>
    }
}